* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #c1ece4;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ingreso {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 60px 20px;
  background-color: #3aa6b9;
  border-radius: 6px;
  border: 1px solid black;
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  padding: 60px 20px;
  background-color: #3aa6b9;
  border-radius: 6px;
  border: 1px solid black;
}

.login-tittle {
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.administrador,
.password {
  margin: 10px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-size: 25px;
}

.login-boton,
.boton-regresar,
.admin,
.user,
.button {
  background-color: #ff9eaa;
  width: 300px;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: 800;
  cursor: pointer;

}

.loginAdmin {
  width: 80%;
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 6px;
  padding: 10px;
  border: 2px solid black;
  background-color: #c1ece4;
}

label {
  font-size: 16px;
}

.login-boton:hover,
.boton-regresar:hover,
.admin:hover,
.user:hover,
.button:hover {
  background-color: #ffd0d0;
  color: black;
}

.form {
  background-color: #3aa6b9;
  margin: 0 auto;
  border: 1px solid black;
  width: 60%;
  padding: 30px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.form-container {
  padding: 30px;
}

.title {
  justify-content: center;
  display: flex;
  color: black;
  margin: 20px;
}

.banner {
  background-image: url("./assets/imagenes/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 25%;
}

.historia {
  background-color: #3aa6b9;
}

.historia1,
.historia2 {
  padding: 20px;
}

.secciones {
  padding: 20px 0;
  text-align: center;
}

.peliculas {
  background: linear-gradient(#ff9eaa, white);
}

.texto {
  color: white;
}

h1 {
  color: white;
  padding-top: 10px;
}
h3 {
  padding: 10px;
}

.text-left {
  text-align: left;
  color: gray;
  padding: 15px;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}
.card {
  border: 2px solid black;
}

.estilo-card {
  width: 18rem;
  background-color: #3aa6b9;
  margin: 20px;
  padding: 20px;
}

.estilo-card ul li {
  background-color: #3aa6b9;
}

.estilo-card a {
  background-color: #ff9eaa;
  margin: 20px;
}

.estilo-card a:hover {
  background-color: #ffd0d0;
}

.estilo-card button {
  background-color: #ff9eaa;
}

.estilo-card button:hover {
  background-color: #ffd0d0;
}

.card-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  padding: 20px;
  justify-content: center;
}

.contenedor {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  flex-wrap: wrap-reverse;
  justify-content: start;
}

.table {
  background-color: #ff9eaa;
  width: 0 auto;
  border: 1px solid black;
  padding: 30px;
  width: 60%;
  margin: 20px auto;
}

.lista {
  background-color: #3aa6b9;
}

td img {
  width: 50px;
}